{% extends 'base_generic.html' %}

{% block content %}
  <h2>Home</h2>
  <p>Dobrodošli na našu web stranicu. Ovdje možete upravljati svojim navikama, postavljati ciljeve i ostvarivati značke za postignuća. Prijavite se ili registrirajte kako biste započeli svoje putovanje ka održavajućem životu.</p>
  <p>Već imate račun? Kliknite na <a href="/login/">prijava</a>. Ako ste novi, <a href="/register/">registrirajte se ovdje</a>.</p>

  <h3>Brzi linkovi</h3>
  <ul>
      <li><a href="{% url 'habit_list' %}">Pregled ekoloških navika</a></li>
      <li><a href="{% url 'goal_list' %}">Pregled vaših ciljeva</a></li>
      <li><a href="{% url 'tip_list' %}">Pregled ekoloških savjeta</a></li>
      <li><a href="{% url 'badge_list' %}">Pregled osvojenih značaka</a></li>
      <li><a href="{% url 'activity_log_list' %}">Pregled dnevnika aktivnosti</a></li>
  </ul>
{% endblock %}